{% load static %}
<footer class="footer">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="{% static './media/img/logo/logoblanco.png' %}" alt="logo del club">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos un club de pádel con pasión por este deporte. Ofrecemos clases, torneos, alquiler de canchas y
                mucho más.</p>
            <p>Estamos en Roldan 1930, Nueva Atlantis, La Costa, Buenos Aires. Código postal 7113. Teléfono
                +5492257617878. Contáctanos para más información o reserva tu turno online.</p>
        </div>
        <div class="box">
            <h2>SEGUINOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2021 <b>Break Point</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>