{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static './css/reserva.style.css' %}">
{% endblock %}
{% block content %}
    <div class="contenedor">
        <div class="tabla-contenedor">
            <h2>Precios de Reserva</h2>
            <table>
                <tr>
                    <th>Días/Horario</th>
                    <th>9hs a 16hs</th>
                    <th>17hs a 23hs</th>
                </tr>
                <tr>
                    <th>Lunes-Viernes</th>
                    <td>$1500/pers</td>
                    <td>$1800/pers</td>
                </tr>
                <tr>
                    <th>Sábado-Domingo</th>
                    <td>$2000/pers</td>
                    <td>$2300/pers</td>
                </tr>
            </table>
            <article>
                <div class="reservados" id="contenedor-api">
                </div>
            </article>
            <article>
                <div class="clima" id="api-clima">
                    <h2>Datos que te pueden interesar...</h2>
                    <span>Base meteo: <span id="base-meteo"></span></span>
                    <span>Temperatura actual: <span id="temperatura"></span></span>
                    <span>Humedad: <span id="humedad"></span></span>
                </div>
            </article>
        </div>
        {% if request.user.is_authenticated %}
        <div class="form-contenedor">
            <form method="post" action="" name="form-reserva">
                <h2>Reserva de Canchas</h2>
                <input type="text" name="nombre" value="{{ request.user.first_name }}" disabled required>
                <input type="text" name="apellido" value="{{ request.user.last_name }}" disabled required>
                <input type="tel" name="telefono" placeholder="Ingrese un teléfono de contacto" pattern="[0-9]*" title="Ingresá solo números" required>
                <input type="email" name="email" value="{{ request.user.email }}" disabled required>
                <textarea name="mensaje" rows="5" placeholder="Ingresá fecha y horario de reserva!" required></textarea>
                <input type="submit" class="btn btn-primary" value="Reservar!" id="submit">
            </form>
        </div>
        <div class="logout">
            <a href="{% url 'app_reserva:logout' %}">Logout</a>
        </div>   
        {% else %}
        <div>
            <a href="{% url 'app_reserva:login' %}">Login</a>
        </div>        
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script>
    async function verificador(event) {
    event.preventDefault();

    // Acá se valido los datos del formulario
    if (!formValido()) {
        alert("Atención!: Completá los campos correctamente");
        return;
    }

    const form = new FormData(this);
    const response = await fetch(this.action, {
        method: this.method,
        body: form,
        headers: {
            "Accept": "application/json"
        }
    });

    if (response.ok) {
        this.reset();
        alert("Gracias por reservar tu cancha en Break Point. Nos pondremos en contacto pronto.");
    }
    }

    function validadorForm() {
    const requiredFields = document.querySelectorAll('[required]');
    for (const field of requiredFields) {
        if (!field.value.trim()) {
            return false;
        }
    }
    return true;
    }
    </script>
    <script src="{% static './js/formHoja.js' %}"></script>
    <script src="{% static './js/api.js' %}"></script>
    <script src="{% static './js/apiweather.js' %}"></script>
{% endblock %}