{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static './css/reserva.style.css' %}">
{% endblock %}
{% block content %}
    <div class="contenedor">
        <div class="tabla-contenedor">
            <h2>Precios de Reserva</h2>
            <div class="table-responsive">
                <table class="egt">
                    <tr>
                        <th>Días/Horario</th>
                        <th>9hs a 16hs</th>
                        <th>17hs a 23hs</th>
                    </tr>
                    <tr>
                        <th>Lunes-Viernes</th>
                        <td>$1500/pers</td>
                        <td>$1800/pers</td>
                    </tr>
                    <tr>
                        <th>Sábado-Domingo</th>
                        <td>$2000/pers</td>
                        <td>$2300/pers</td>
                    </tr>
                </table>
            </div>
            <article>
                <div class="reservados" id="contenedor-api">
                </div>
            </article>
            <article>
                <div class="clima" id="api-clima">
                    <h2>Datos que te pueden interesar...</h2>
                    <span>Base meteo: <span id="base-meteo"></span></span>
                    <span>Temperatura actual: <span id="temperatura"></span></span>
                    <span>Humedad: <span id="humedad"></span></span>
                </div>
            </article>
        </div>
        {% if request.user.is_authenticated %}
        <div class="form-contenedor">
            <form method="post" action="" name="form-reserva">
                {% csrf_token %}
                <h2>Reserva de Canchas</h2>
                <input type="text" name="nombre" value="{{ request.user.first_name }}" disabled required style="color: #fff;">
                <input type="text" name="apellido" value="{{ request.user.last_name }}" disabled required style="color: #fff;">
                <input type="email" name="email" value="{{ request.user.email }}" disabled required style="color: #fff;">
                <input type="text" name="fecha_reserva" placeholder="Ingrese fecha dd/mm/aaaa" required>
                <input type="text" name="horario_reserva" placeholder="Ingrese horario hh:mm" required>
                <textarea name="comentario" rows="5" placeholder="Comentarios adicionales..."></textarea>
                <input type="submit" class="btn btn-primary" value="Validar!" id="submit">
            </form>
        </div>
        <div id="mi-reserva-contenedor" class="tabla-contenedor" style="width: 70%;">
            <h2>Mis reservas</h2>
            <div class="table-responsive">
                <table class="egt">
                    <tr>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Comentario</th>
                        <th>Última modificación</th>
                        <th>Acciones</th>
                    </tr>
                    {% for reserva in mis_reservas %}
                    <tr>
                        <td class="fecha-reserva">{{ reserva.fecha_reserva }}</td>
                        <td class="horario-reserva">{{ reserva.horario_reserva }}</td>
                        <td class="comentario-reserva">{{ reserva.comentario }}</td>
                        <td class="modificacion">{{ reserva.modificacion }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href="{% url 'app_reserva:resupdate' reserva.id %}" class="btn btn-info">Actualizar</a>
                                <a href="{% url 'app_reserva:resdelete' reserva.id %}" class="btn btn-danger">Borrar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2rem;">
            <a class="btn btn-danger" href="{% url 'app_reserva:logout' %}">Logout</a>
        </div>   
        {% else %}
        <div>
            <a href="{% url 'app_reserva:login' %}">Login</a>
        </div>        
        {% endif %}
    </div>
{% endblock %}


{% block script %}
    <script src="{% static './js/api.js' %}"></script>
    <script src="{% static './js/apiweather.js' %}"></script>
{% endblock %}