{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static './css/tienda.css' %}">
{% endblock %}
{% block content %}
    <!-- OFERTAS-------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="ofertas">
        <section class="oftitle">OFERTAS</section>
        <div class="chevron izq">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <g transform="rotate(-90 14 14)">
                        <path fill="currentColor"
                            d="M23.707 18.707a1 1 0 0 1-1.414 0L14 10.414l-8.293 8.293a1 1 0 0 1-1.414-1.414l9-9a1 1 0 0 1 1.414 0l9 9a1 1 0 0 1 0 1.414Z" />
                    </g>
                </svg>
            </i>
        </div>
        <div class="chevron der">
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <g transform="rotate(90 14 14)">
                        <path fill="currentColor"
                            d="M23.707 18.707a1 1 0 0 1-1.414 0L14 10.414l-8.293 8.293a1 1 0 0 1-1.414-1.414l9-9a1 1 0 0 1 1.414 0l9 9a1 1 0 0 1 0 1.414Z" />
                    </g>
                </svg>
            </i>
        </div>
        <div class="ofertas-container">
            <div class="item">
                <div class="oferta">25%</div>
                <div class="a">
                    <img src="{% static './media/img/fotos/paleta1.jpg' %}" alt="" class="prod-img" />
                </div>
                <div class="b">
                    <h5>CATEGORIA</h5>
                    <h6>NOMBRE PRODUCTO</h6>
                    <p class="original price">$ 1799,99</p>
                    <p class="discount price">$ 1349,99</p>
                    <p class="cuotas">3 cuotas sin interés</p>
                </div>
            </div>
            <div class="item">
                <div class="oferta">-25%</div>
                <div class="a">
                    <img src="{% static './media/img/fotos/paleta2.jpg' %}" alt="" class="prod-img" />
                </div>
                <div class="b">
                    <h5>CATEGORIA</h5>
                    <h6>NOMBRE PRODUCTO</h6>
                    <p class="original price">$ 1799,99</p>
                    <p class="discount price">$ 1349,99</p>
                    <p class="cuotas">3 cuotas sin interés</p>
                </div>
            </div>
            <div class="item">
                <div class="oferta">-25%</div>
                <div class="a">
                    <img src="{% static './media/img/fotos/ropa.jpg' %}" alt="" class="prod-img" />
                </div>
                <div class="b">
                    <h5>CATEGORIA</h5>
                    <h6>NOMBRE PRODUCTO</h6>
                    <p class="original price">$ 1799,99</p>
                    <p class="discount price">$ 1349,99</p>
                    <p class="cuotas">3 cuotas sin interés</p>
                </div>
            </div>
            <div class="item">
                <div class="oferta">-25%</div>
                <div class="a">
                    <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
                </div>
                <div class="b">
                    <h5>CATEGORIA</h5>
                    <h6>NOMBRE PRODUCTO</h6>
                    <p class="original price">$ 1799,99</p>
                    <p class="discount price">$ 1349,99</p>
                    <p class="cuotas">3 cuotas sin interés</p>
                </div>
            </div>
            <div class="item">
                <div class="oferta">25%</div>
                <div class="a">
                    <img src="{% static './media/img/fotos/paleta1.jpg' %}" alt="" class="prod-img" />
                </div>
                <div class="b">
                    <h5>CATEGORIA</h5>
                    <h6>NOMBRE PRODUCTO</h6>
                    <p class="original price">$ 1799,99</p>
                    <p class="discount price">$ 1349,99</p>
                    <p class="cuotas">3 cuotas sin interés</p>
                </div>
            </div>
        </div>
    </div>

    <!-- PRODUCTOS-------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="categ-container">
        <div class="categ-item">
            <img src="{% static './media/img/botones/cambioweb-pn-final-rebajas-verano-400x170-zapatillas.jpg' %}" alt="">
        </div>
        <div class="categ-item">
            <img src="{% static './media/img/botones/cambioweb-pn-final-rebajas-verano-400x170-ropa.jpg' %}" alt="">
        </div>
        <div class="categ-item">
            <img src="{% static './media/img/botones/cambioweb-pn-final-rebajas-verano-400x170-palas.jpg' %}" alt="">
        </div>
    </div>

    <div class="filter-container">
        <label>Ordenar por:</label>
        <select id="filter-options">
            <option value="mas-barato">Más barato</option>
            <option value="mas-caro">Más caro</option>
            <option value="destacados">Destacados</option>
        </select>
    </div>

    <div class="prod-container">
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
        <div class="p-item">
            <div class="a">
                <img src="{% static './media/img/fotos/zapatilla.jpg' %}" alt="" class="prod-img" />
            </div>
            <div class="b">
                <h5>CATEGORIA</h5>
                <h6>NOMBRE PRODUCTO</h6>
                <p class="price">$ 1799,99</p>
                <p class="cuotas">3 cuotas sin interés</p>
            </div>
        </div>
    </div>
{% endblock %}